/* {
	outline: 2px solid red;
}*/

html, body {
	width: 100%;
	min-height: 100%;
	min-width: 700px;
	margin: 0;
}

body {
	font: sans-serif, serif;
	box-sizing: border-box;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover{
	text-decoration: underline;
}

.openParagraph {
	height: 25%;
	width: 90%;
	font-size: 150%;
	margin: 0 auto;
}

.tabRight {
	text-align: right;
}

.pic-row {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
}

.pic {
	float: left;
	background-position: center;
}

.footer {
	width: 90%;
	border-top: 1px solid black;
	text-align: center;
	margin: 0 auto;
	clear: both;
}

.lnks {
	margin-left: 10px;
}